PORT=8000
MONGODB_URI=mongodb+srv://praveenk15499:Praveen123@cluster0.aeysx4o.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=my-access_token_secret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=my-refresh_token_secret
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dskoib9ls
CLOUDINARY_API_KEY=375777587174778
CLOUDINARY_API_SECRET=oyr8vKNTig4GUqeyDqxOb_j4OBE